include MANIFEST.in
include LICENSE.txt
include README.rst
include setup.py
include CHANGELOG.txt
include cxfreeze_setup.py
include requirements.txt
include automator/*.ini
include automator/*.ui
include automator/icons/*.png
include zorro/scripts/*.py



